@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

:root{
  --red:#E40038;
  --beige:#F8F5E1;
  --duration: 2s; /* Duración de la animación */
  --total: 6;    /* Total de elementos */
  --dark-bg:#262e38;
}

@keyframes bounceColor {
  0% {
    transform: translateY(0);
    color: var(--red); /* Color inicial */
  }
  30% {
    transform: translateY(-10px);
    color: #e74c3c; /* Color en el punto alto del rebote */
  }
  60% {
    transform: translateY(0);
    color: #f1c40f; /* Color en el regreso */
  }
  100% {
    transform: translateY(0);
    color: var(--red); /* Vuelve al color inicial */
  }
}

@keyframes DarkBounceColor {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
    color: var(--beige); /* Color en el punto alto del rebote */
  }
  60% {
    transform: translateY(0);
    color: var(--red); /* Color en el regreso */
  }
  100% {
    transform: translateY(0);
    color: var(--beige); /* Vuelve al color inicial */
  }
}

.char {
  animation: bounceColor 1.5s ease-in-out infinite;
  animation-delay: calc(var(--index) * 0.15s);
  display: inline-block;
}


.char1{
  --index:1;
}
.char2{
  --index:2;
}
.char3{
  --index:3;
}
.char4{
  --index:4;
}
.char5{
  --index:5;
}
.char6{
  --index:6;
}




.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
/* modo estilos*/
body.light {
  background-color: var(--beige);
}

body.dark {
  background-color: var(--dark-bg);
}


body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background:var(--beige);
  font-weight: 400;
  font-style: normal;
  transition: .3s;
}

/* ======== header =======*/
.header{
  width: 90%;
  max-width: 920px;
  padding: 14px 5%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  &-col{
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
.folio{
  font-size: .9rem;
  font-weight: bolder;
}
.lang, .theme-btn{
  font-size: .9rem;
  font-weight: bolder;
  cursor: pointer;
}
/* ============ main hero ==========*/
.mainHero{
  width: 100vw;
  height: 100vh;
  color: var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  position: relative;
  button{
    background: none;
    border: none;
    color: var(--red);
    font-weight: 900;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
  nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.name {
  span{
    line-height: .8;
    font-size: 7rem;
    font-weight: bolder;
  }
}

.last-name{
  font-weight: bolder;
  font-size: 5.4rem;
  line-height: 4.6rem;
  margin: 0;
}

.charge{
  width: 100%;
  background: var(--red);
  color: var(--beige);
  margin:12px 0;
  display: block;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  font-size: 1.5rem;
}

/* modal estilos*/

.modal{
  &-wrap{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--beige);
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
  }
  &-inner{
    width: 50vw;
    max-width: 920px;
    position: relative;
  }
  &-close{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: var(--red);
    border: none;
    position: absolute;
    top: 10px;
    right: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center;
    transition: .3s;
    &:hover{
      transform: rotate(180deg);
    }
    img{
      width: 70%;
    }
  }
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
  animation-duration: .15s;
  animation-timing-function: cubic-bezier(.32,.72,.77,.41);
}

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

.slideOutDown {
  animation-name: slideOutDown;
  animation-duration: .5s;
}

/* ======== estilos textos ======== */

.title-1{
  font-size: 48px;
  font-weight: bold;
  color: var(--red);
}

/* ================ modo oscuro ==================== */

.dark{
  .modal{
    &-wrap{
      background: var(--dark-bg);
    }
  }
  .mainHero button{
    color: var(--beige)
  }
  .char{
    animation-name: DarkBounceColor;
  }
  .text-1, .skills-description{
    color: #fff;
  }
}

/* ========== skills ========*/
.skills{
  &-name{
    font-weight: bold;
    color: var(--red);
  }
  &-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
  }
}